form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 20px;
    padding: 17px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #2d303a;
    /* Updated color */
    color: #828282;
    /* Updated color */
}

textarea {
    height: 100px;
}

.send-message {
    background-color: #006400;
    /* Dark green background color */
    color: white;
    /* White text color */
    padding: 10px 20px;
    border: 2px solid #006400;
    /* Same color as background for seamless effect */
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    /* Position relative for the glow effect */
    outline: none;
    /* Remove the default outline */
    font-size: 16px;
    /* Adjust font size as needed */
    transition: all 0.3s ease;
    /* Smooth transition */
    box-shadow: 0 0 0 rgba(0, 255, 0, 0);
    /* Initial box-shadow with no glow */
    align-self: flex-start;
}

.send-message:hover {
    border-color: #00ff00;
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.7);
}

.send-message::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 0;
    height: 0;
    /* border-top: 10px solid rgba(0, 255, 0, 0.7);
    border-right: 10px solid rgba(0, 255, 0, 0.7); */
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
}



