.footer {
  background: black; /* Black background color */
  color: #00ff00; /* Green text color */
  text-align: center;
  padding: 10px 0; /* Fix the footer at the bottom of the page */
  bottom: 0;
  width: 100%;
  font-size: 10px;
  font-weight: 100;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 2px; /* Monospace font for tech look */
}
