/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 6rem;
    background-color: #000;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #0f0;
  }
  